

body{
    background-repeat: no-repeat;
    background-position: center;
    margin: 250px;
}

#col-md-5{
    border-radius: 5px;
    opacity: 0.91;
}

h3{
    font-size: 30px;
    font-family: 'Cookie'; 
    font-style: cursive;
}

h1{
    font-size: 40px;
    font-family: 'Cookie';
    font-style: cursive;
}

span{
    display: inline;
}

#left-input{
    float: left; 
    margin-bottom: 20px; 
    margin-left: 70px;
    font-size: 20px; 
    font-family: 'Cookie';
    font-style: cursive;
}

#right-input{
    float: right;
    margin-bottom: 20px;
    margin-right: 70px;
    font-size: 20px;
    font-family: 'Cookie';
    font-style: cursive;
}


@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
