body{
    background-image: url(https://www.artycraftykids.com/wp-content/uploads/2017/08/Bookmarks-1-2.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 115vh; */
    padding: 40px; 
    font-family: 'Cookie';
}

.submitLink {
    background-color: transparent;
    border: none;
    color: whitesmoke;
}

.big-card{
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20vh;
}

#your-bookmarks{
    text-align: center;
}
#header-title{
    text-align: center;
}

#small-card{
    box-shadow: 5px 10px rgba(26, 25, 25, 0.801);
}

#list-group-item-tags{
    border-top: 1px solid rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.6);
}

.comment-style{
    list-style-type: none;
}
.comment-position{
    text-align: left;
}

#buttons{
    text-align: center;
    font-size: 25px;
}

#footer{
    text-align: center;
    font-size: 25px;
}

form{
    margin: 0%;
    max-width: 50px;
    display: inline;
}

span{
    text-align: center;
    display: inline;
}


@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');