body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

  #card{
      border: 2px;
      border-style: solid;
      border-color: white;
      padding: 2%;
  }

.background{
    height: 100%;
    background-image: url("http://www.cashadvance6online.com/data/archive/img/3110503676.jpeg");
    background-repeat: no-repeat;
    filter: sepia(30%);
}

.navbar{
    background-image: linear-gradient(to right,#4e4d4d, #1C1C1C, #1A1A1A);
}

.hlink{
    color: white;
}
.hlink:hover{
    color: red;
    text-decoration: none;
    
}

.jumbotron{
    background-color: rgb(236, 236, 255, 0.8);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-image: linear-gradient(to right,#4e4d4d, #1C1C1C, #1A1A1A);
    /* background-color: #1A1A1A; */
    text-align: center;
  }